<app-sidenav></app-sidenav>
<app-template-body [title]="titulo">
  <section class="create-employee">
    <div class="container-create-employee">
      <div class="employee-content">
        <form>
          <label>
            Nome
          </label>
          <input
            type="text"
            id="nome"
            placeholder="Nome do funcionário(a)"
            #NOME (keyup)=mudar_nome(NOME.value)
            required
          />

          <label>
            Fazenda
          </label>
          <input
            type="text"
            id="fazenda"
            placeholder="Nome da fazenda"
            #FAZENDA  (keyup)=mudar_fazenda(FAZENDA.value)
            required
          />

          <label>
            CPF
          </label>
          <p-inputMask
            styleClass="prime-input"
            id="cpf"
            mask="999.999.999-99"
            placeholder="CPF"
            #CPF (keyup)=mudar_CPF(CPF.value)
            >
          </p-inputMask>

          <label>
            Telefone
          </label>
          <p-inputMask
            styleClass="prime-input"
            id="telefone"
            mask="(99) 99999-9999"
            placeholder="Telefone"
            #TELEFONE (keyup)=mudar_telefone(TELEFONE.value)
            >
          </p-inputMask>

          <label>
            Função Principal
          </label>
          <input
            type="text"
            id="funcao"
            placeholder="Função principal"
            #FUNCAO_PRINCIPAL (keyup)=mudar_funcao_princila(FUNCAO_PRINCIPAL.value)
          />

          <label>
            Ativo
          </label>
          <label class="switch">
            <input type="checkbox"
            #ATIVO (change)=mudar_ativo(ATIVO.checked)
            required
            >
            <span class="slider round"></span>
          </label>
          <button (click)=apertar_cadastrar()
          routerLink="/admin/funcionarios/"
          >
            Cadastrar
          </button>
        </form>
      </div>
    </div>
  </section>
</app-template-body>
