:root {
  --main-green-color: #375f24;
  --secondary-green-color: #4f8636;
  --main-grey-color: #e5e5e5;
  --black: #000;
  --red: #ff4000;
  --red-soft: #f94c66;
  --grey: #9fa0a1;
  --grey-ligth: #d1d1d1;
  --white: #fff;
  --blue: #0e1d8e;
}
