@import "../../../../../../css/variaveis.css";

.create-company {
  background: var(--main-green-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-create-company {
  background: var(--white);
  min-width: 790px;
  min-height: 800px;
  text-align: center;
}

.company-content {
  margin-top: 30px;
}

.company-content .company-title {
  color: var(--main-green-color);
  font-size: 26px;
  font-weight: 700;
  margin-top: 25px;
}

form {
  padding: 30px;
}

form label {
  color: var(--main-green-color);
  display: flex;
  text-transform: uppercase;
}

form input,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  border: solid 1.5px var(--main-green-color);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  padding: 0 15px;
}

form input:focus {
  outline: 1px solid var(--main-green-color);
}

button {
  border: none;
  background: var(--main-green-color);
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

button:hover {
  background: var(--secondary-color);
}
