<section class="create-company">
  <div class="container-create-company">
    <div class="company-content">
      <img src="../../../../../../assets/logo-devinhouse.png" alt="Logo DevInHouse">
      <div class="company-title">
        <p>Dev-Agro</p>
        <p>Cadastro de empresa</p>
      </div>
      <form>
        <label>Nome</label>
        <input
          type="text"
          id="nome"
          placeholder="Nome da empresa"
        />

        <label>CNPJ</label>
        <p-inputMask styleClass="prime-input" mask="99.999.999/9999-99" placeholder="CNPJ"></p-inputMask>
      </form>
    </div>
  </div>

</section>
