<section class="create-company">
  <div class="container-create-company">
    <div class="company-content">
      <img src="../../../../../../assets/logo-devinhouse.png" alt="Logo DevInHouse">
      <div class="company-title">
        <p>Dev-Agro</p>
        <p>Cadastro de empresa</p>
      </div>
      <form>
        <label>Nome</label>
        <input
          type="text"
          id="nome"
          placeholder="Nome da empresa"
        />

        <label>CNPJ</label>
        <p-inputMask
          styleClass="prime-input"
          id="cnpj"
          mask="99.999.999/9999-99"
          placeholder="CNPJ">
        </p-inputMask>

        <label>Endereço da Sede</label>
        <input
          type="text"
          id="endereco"
          placeholder="Endereço"
        />

        <label>E-mail</label>
        <input
          type="text"
          id="email"
          placeholder="E-mail"
        />

        <label>Senha</label>
        <input
          type="password"
          id="senha"
          placeholder="Senha"
        />

        <label>Digite Novamente a Senha</label>
        <input
          type="password"
          id="re-senha"
          placeholder="Senha"
        />
        <button routerLink="/">Log In</button>
      </form>
    </div>
  </div>

</section>
