<app-sidenav></app-sidenav>
<app-template-body [title]="titulo">
  <section class="table-container">
    <h3>
      Funcionários da empresa
    </h3>
    <table>
      <thead>
        <tr>
          <th>
            Detalhes dos funcionários
          </th>
          <th></th>
          <th>
            Fazenda Alocado
          </th>
          <th>
            Função Principal
          </th>
          <th>
            Ativo
          </th>
        </tr>
      </thead>
      <tbody>
        <p-scrollPanel
        styleClass="table-scroll"
        [style]="{width: '100%', height: '500px'}"
        >
          <tr>
            <td>
               <div
               class="table-content"
               *ngFor="let nome of listNome"
               >
                 {{ nome }}
               </div>
             </td>
             <td></td>
             <td>
               <div
               class="table-content"
               *ngFor="let fazenda of listFazenda"
               >
                 {{ fazenda }}
               </div>
             </td>
             <td>
               <div
               class="table-content table-ajust"
               *ngFor="let funcao of listFuncao"
               >
                 {{ funcao }}
               </div>
             </td>
             <td>
               <div
               class="table-content"
               *ngFor="let ativo of listAtivo"
               >
                 <span
                 [ngClass]="{'table-active-true': ativo == 'sim', 'table-active-false': ativo == 'não'}"
                 >
                  {{ ativo }}
                 </span>
               </div>
             </td>
          </tr>
        </p-scrollPanel>
      </tbody>
    </table>
    <div class="buttons">
      <button
      type="button"
      id="button-altera"
      routerLink="/admin/funcionarios/cadastro/alterar"
      >
        <span>
          Alterar Informações
        </span>
      </button>
      <button
      type="button"
      routerLink="/admin/funcionarios/cadastro"
      [disabled]="aprovaCadastro == false"
      >
        <span>
          +
        </span>
      </button>
    </div>
  </section>
</app-template-body>
