<app-sidenav></app-sidenav>
<app-template-body [title]="titulo">
  <form>
    <div class="conteiner">
      <div class="form-group">
        <label for="nome">
          NOME
        </label>
        <input
        type="text"
        class="form-control"
        id="nome"
        placeholder="Nome do Grão"
        #NOME (keyup)=mudar_nome(NOME.value)
        >
      </div>
      <div class="form-group">
        <label>
          Fazenda que Produz
        </label>
        <input
        type="text"
        class="form-control"
        id="fazenda"
        placeholder="Nome da Fazenda"
        #FAZENDA (keyup)=mudar_fazenda(FAZENDA.value)>
      </div>
      <div class="form-group">
        <label>
          Previsão da Colheita
        </label>
        <input
        type="date"
        class="form-control"
        id="previsao_colheita"
        placeholder="dd/mm/aaaa"
        #colheita (keyup)=mudar_colheita(colheita.value)
        >
      </div>
      <div class="form-group">
        <label>
          Informações Adicionais
        </label>
        <input
        type="text"
        class="form-control"
        id="info-adicionais"
        placeholder="Informações Adicionais"
        #informacoes (keyup)=mudar_informacoes(informacoes.value)
        >
      </div>
    </div>
    <div class="col text-center">
      <button
      type="button"
      class="btn btn-success btn-lg btn-block mx-auto"
      (click)=btnClick();click_cadastrar()
      >
        CADASTRAR
      </button>
    </div>
  </form>
</app-template-body>
