<app-sidenav></app-sidenav>
<app-template-body [title]="titulo">
  <section class="change-employee">
    <div class="container-change-employee">
      <div class="change-employee-content">
        <form>
          <label>
            Nome
          </label>
          <input
            type="text"
            id="nome"
            placeholder="Nome do funcionário(a)"
            required
          />
          <label>
            Fazenda
          </label>
          <input
            type="text"
            id="fazenda"
            placeholder="Nome da fazenda"
            required
          />

          <label>
            Função Principal
          </label>
          <input
            type="text"
            id="funcao"
            placeholder="Função principal"
          />

          <label>
            Ativo
          </label>
          <label class="switch">
            <input type="checkbox"
            required
            >
            <span class="slider round"></span>
          </label>

          <button
          (click)="alteraInfo()"
          routerLink="/admin/funcionarios/"
          >
            Alterar informações
          </button>
        </form>
      </div>
    </div>
  </section>
</app-template-body>

